.container{
    color: var(--footer-text, #FBFBFB);
    padding-block: 80px;
    background: var(--footer-bg-color, #080C09);
}
.container>div{
    display: flex;
    justify-content: space-between;
    gap: 20px 64px;
}
.container__inner{
    display: flex;
    gap: 0px 48px;
}
.intro{
    max-width: 320px;
    padding: 20px;
}
.container img{
    opacity: 1;
    width: 287px;
    height: 45.874px; 
    margin-bottom: 24px; 
}
.container p{
    line-height: 3rem;
    letter-spacing: 0.0225rem;
}
.link__wrapper{
    width: 200px;
}
.touch{
    width: 320px;
}
.link__wrapper, .touch{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.link__wrapper span, .touch span{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.24px;
}
.link__wrapper>div, .touch>div{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.link__wrapper a, .touch li{
    color: #B4B4B4;
    font-size: 24px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.36px;
}
.link__wrapper li, .touch li{
    display: block;
}
@media (max-width: 768px) {
    .container{
        padding-block: 40px;
    }
    .container>div:nth-child(1){
        display: grid;
    }
    .container p{
        font-size: 1rem;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.01rem;
    }
    .container__inner{
        flex-direction: column;
    }
    .link__wrapper>div, .touch>div{
        gap: 20px;
    }
    .link__wrapper a, .touch li{
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.24px;
    }
    .credit{
        flex-direction: column;
        padding-inline: 20px;
    }
    .credit>div:nth-child(2) a{
        color: var(--green-300);
    }
  }