.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-block: 2.5rem;
    z-index: 10;
    /* mix-blend-mode: difference; */
}
.header>div{
    cursor: default;
}
.menu__btn{
    padding: 6px 20px;
    border-radius: 50px;
    background-color: var(--bg);
}
.menu__burger{
    display: flex;
    align-items: center;
    gap: 2.5rem;
    cursor: pointer;
}
.menu__burger>span, 
.close>span{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.24px;
    align-self: center;
}
.menu__burger>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 44px;
    height: 46px;
    aspect-ratio: 44/46;
    padding: 15px 6px;
    transition: all 400ms ease-in-out;
}
.menu__burger>div:hover{
    gap: 2px;
}
.menu__burger>div>span{
    height: 2px;
    border-radius: 100px;
    background-color: var(--color-200);
    opacity: 1;
    transition: height 300ms ease-in-out 200ms, opacity 500ms ease-in-out 0ms;
}
.menu__burger>div:hover span:nth-child(2){
    height: 0px;
    opacity: 0;
}
.menu__wrapper{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
    padding-block: 3.27%;
    width: 100%;
    height: 100lvh;
    background-color: var(--bg);
}
.top, .bottom{
    display: flex;
    justify-content: space-between;
}
.top{
    align-items: center;
    /* overflow: hidden; */
}
.close{
    display: flex;
    gap: 40px;
    cursor: pointer;
}
.icon{
    position: relative;
    width: 44px;
    height: 44px;
    padding: 10px;
    transition: all 500ms ease-in-out;
}
.icon span{
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-200);
}
.icon span:first-child{
    transform: rotate(45deg) translate(0px, 15px);
}
.icon span:last-child{
    transform: translate(-10px, 10px) rotate(-45deg);
}
.icon:hover{
    transform: scale3d(0.5, 0.5, 1.5);
}
.bottom>div{
    align-self: flex-end;
}
.menu__link{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.menu__link>li{
    display: flex;
    align-items: center;
}
.menu__link>li>a{
    margin-block: 0.25rem;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: 0.0225rem;
}
.bottom__right{
    display: grid;
    justify-items: flex-end;
    row-gap: 40px;
}
.social{
    display: flex;
    column-gap: 26px;
}
.social:hover a{
    opacity: .5;
}
.social:hover a:hover{
    opacity: 1;
}
.social>a{
    display: flex;
}
.social svg circle, .social svg path{
    fill: var(--text);
}
.mode{
    display: flex;
    align-items: center;
    gap: 10px;
}
.mode span{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;
    letter-spacing: 0.0225rem;
    transition: opacity 300ms ease-in-out;
}
.checkbox{
    position: relative;
    width: 52px;
    height: 32px;
    border-radius: 50px;
    border: solid 0.5px var(--green-200);
    background-color: var(--pri-color);
    cursor: pointer;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 35px;
    background-color: var(--green-200);
}
/* Mobile */
@media (max-width: 768px) {
    .menu__wrapper{
        justify-content: flex-start;
    }
    .menu__burger{
        gap: 1.25rem;
    }
    .menu__burger span{
        font-size: 0.875rem;
        font-weight: 600;
        letter-spacing: 0.00875rem;
    }
    .menu__burger>div{
        transform: scale(0.727);
    }
    .close{
        gap: 20px;
    }
    .close>span{
        font-size: 0.875rem;
        font-weight: 500;
        letter-spacing: 0.00875rem;
    }
    .icon{
        width: 23.75px;
    }
    .bottom{
        flex-direction: column;
        row-gap: 10.47vh;
    }
    .bottom>div{
        align-self: flex-start;
    }
    .bottom__right{
        justify-items: flex-start;
    }
    .menu__link>li>a{
        font-size: 1.5rem;
        letter-spacing: 0.24px;
    }
    .mode span{
        font-size: 1.0625rem;
        line-height: 34px;
        letter-spacing: 0.255px;
    }
    .social svg{
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 900px) {

}
/* Tablet and Smaller Desktop */
@media (min-width: 769px) and (max-width: 1024px) {

}