.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-block: 2.5rem;
}
.header>div,
.menu__burger{
    cursor: pointer;
}
.menu__burger{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}
.menu__burger>span, 
.close>span{
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.24px;
    align-self: center;
}
.menu__burger>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 44px;
    height: 46px;
    aspect-ratio: 44/46;
    padding: 15px 6px;
    transition: all 400ms ease-in-out;
}
.menu__burger>div:hover{
    gap: 2px;
}
.menu__burger>div>span{
    height: 2px;
    border-radius: 100px;
    background-color: var(--color-200);
    opacity: 1;
    transition: height 300ms ease-in-out 200ms, opacity 500ms ease-in-out 0ms;
}
.menu__burger>div:hover span:nth-child(2){
    height: 0px;
    opacity: 0;
}
.menu__wrapper{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 40px;
    padding-block: 8.27%;
    width: 100%;
    height: 100lvh;
    background-color: var(--bg);
}
.top, .bottom{
    display: flex;
    justify-content: space-between;
}
.top{
    align-items: center;
}
.close{
    display: flex;
    gap: 40px;
}
.icon{
    position: relative;
    width: 44px;
    height: 44px;
    padding: 10px;
    transition: all 500ms ease-in-out;
}
.icon span{
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--color-200);
}
.icon span:first-child{
    transform: rotate(45deg) translate(0px, 15px);
}
.icon span:last-child{
    transform: translate(-10px, 10px) rotate(-45deg);
}
.icon:hover{
    transform: scale3d(0.5, 0.5, 1.5);
}
.bottom>div{
    align-self: flex-end;
}
.menu__link{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.menu__link>div{
    display: flex;
    align-items: center;
    /* min-height: 72px; */
}
.menu__link>div>a{
    margin-block: 9px;
}
.social{
    display: flex;
    column-gap: 26px;
}
.social:hover a{
    opacity: .5;
}
.social:hover a:hover{
    opacity: 1;
}
.social>a{
    display: flex;
}
.social svg circle, .social svg path{
    fill: var(--text);
}