:root{
  --pri-color:#23A455;
  --white:#FFFFFF;
  --pri-container:#DCF4E5;
  --on-pri-container:#104A26;
  --sec-color:#993366;
  --sec-container:#DFC0D0;
  --on-sec-container:#45172E;
  --error-color:#B3261E;
  --error-container:#F9DEDC;
  --on-error-container:#441100;
  --text:#1D1B20;
  --text-light:#EDEDED;
  --sub-text:#383838;
  --color:#B0B0B0;
  --green-000: #e9f6ee;
  --green-100: #def1e6;
  --green-200: #bbe3ca;
  --green-300: #23a455;
  --green-400: #20944d;
  --green-500: #1c8344;
  --green-600: #1a7b40;
  --green-700: #156233;
  --green-800: #104a26;
  --green-900: #0c391e;
  --wine-000: #f5ebf0;
  --wine-100: #f0e0e8;
  --wine-200: #dfc0d0;
  --wine-300: #993366;
  --wine-400: #8a2e5c;
  --wine-500: #7a2952;
  --wine-600: #73264d;
  --wine-700: #5c1f3d;
  --wine-800: #45172e;
  --wine-900: #361224;
}
@media (prefers-color-scheme: light) {
  :root{
    --bg: #F8F8F8;
    --text: #03160A;
    --color-200: #03160A;
  }
  html{
    color-scheme: light;
  }
  ::selection{
    background-color: var(--green-900);
    color: var(--green-200);
  }
}
@media (prefers-color-scheme: dark) {
  :root{
    --bg: #080C09;
    --text: #F8F8F8;
    --color-200: #E4DDD4;
  }
  html{
    color-scheme: dark;
  }
  body{
    background-color: black;
    color: white;
  }
}
*{
  box-sizing: border-box;
  min-width: 0;
}
html,
body{
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  font-family: Poppins, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
  background-color: var(--bg);
  color: var(--text);
}
h1{
  font-size: 4rem;
}
h2,button{
  font-size: 3rem;
}
h3{
  font-size: 2.25rem;
}
h4,p{
  font-size: 1.5rem;
}
h1,h2,h3,h4,button{
  font-weight: 600;
}
h1,h2,h3,h4,button,.sub__text{
  letter-spacing: 0.01em;
  line-height: normal;
}
p{
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.015em;
}
.sub__text{
  font-size: 1rem;
  font-weight: 500;
}
a{
  color: inherit;
  text-decoration: none;
  transition: all 300ms ease-in-out;
}
button{
  padding: 1rem 40px;
  border-radius: 100px;
  letter-spacing: 0.03rem;
  border: solid 4px var(--pri-color);
  color: var(--pri-color);
  background-color: var(--white);
}
button:hover{
  color: var(--white);
  background-color: var(--pri-color);
}
.container__p{
  padding-inline: 8.3%;
}
.logo{
  width: 100%;
  height: 100%;
  max-width: 253px;
  max-height: 40.44px;
  aspect-ratio: 253/40.44;
}

