.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: space-between;
    gap: 120px;
    cursor: pointer;
}
.el{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    gap: 1rem;
}
.el:first-child{
    max-width: 590px;
}
.el:first-child .wrapper{
    height: 500px;
}
.el:nth-child(2){
    max-width: 490px;  
}
.el:nth-child(2) .wrapper{
    height: 566px;
}
.el:nth-child(3){
    max-width: 690px;
}
.el:nth-child(3) .wrapper{
    height: 328px;
}
.el:nth-child(3) .wrapper img{
    transform: scale(0.5);
}
.el:nth-child(4){
    max-width: 385px;
}
.el:nth-child(4) .wrapper{
    height: 479px;
}
.el:nth-child(4) .wrapper img{
    transform: scale(0.5);
}
.el:nth-child(3) .wrapper:hover img,
.el:nth-child(4) .wrapper:hover img{
    transform: scale(0.6);
}
.el:nth-child(5){
    max-width: 490px;
}
.el:nth-child(5) .wrapper{
    height: 328px;
}
.el:nth-child(5) .wrapper img{
    transform: scale(0.8);
}
.el:nth-child(5) .wrapper:hover img{
    transform: scale(0.9);
}
.el:nth-child(6){
    max-width: 590px;
}
.el:nth-child(6) .wrapper{
    height: 566px;
}
.el:nth-child(6) .wrapper img{
    transform: scale(0.9);
}
.el:nth-child(6) .wrapper:hover img{
    transform: scale(1);
}
.wrapper{
    overflow: hidden;
    border-radius: 16px;
    display: grid;
    place-content: center;
    background-color: var(--white);
}
.wrapper img{
    transition: transform 1000ms ease-in-out;
}
.wrapper:hover img{
    transform: scale(1.1);
}
.el p{
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 0.0225rem;
}
@media (max-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .wrapper{
        width: 335px !important;
        height: 200px !important;
        aspect-ratio: 335/200;
    }
    .wrapper img{
        width: 335px;
        height: 100%;
        aspect-ratio: 1000/475;
        transform: none;
    }
    .el p{
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.18px;
    }
  }